.mycontent{
  margin-top: 100px;
  border: 10px solid red;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: gray;
  color:black;
}

table, td {
    border: 1px solid black;
}
