{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h1>Here is an overview of your life!</h1>
    {% if week_list %}
    <table>
      {% for week_group in week_list %}
        <tr>
          {% for week in week_group %}
          <td>
            <a href="{% url 'week' week.week_num %}">{{ week.week_num }}</a>
            <p>{{ week.week_status }}</p>
          </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    {% else %}
        <p>No weeks available.</p>
    {% endif %}
  </div>
{% endblock %}
