{% extends "base.html" %}
{% block content %}
{% load week_type %}
  <div class="container">
    <h1>Here is an overview of your life!</h1>
    {% if week_list %}
    <table>
      {% for week_group in week_list %}
        <tr>
          {% for week in week_group %}
          <td>
            <div class="">
              <a class="{{ week.week_status | weekbtn }} weekbtn" href="{% url 'week' week.week_num %}">{{ week.week_num }}
                <br>
                <span>{{ week.week_status }}</span>
              </a>
            </div>
          </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    {% else %}
        <p>No weeks available.</p>
    {% endif %}
  </div>
{% endblock %}
